.active {
  padding: 5px;
  background-color: #0d6efd; }

.about .container .row .c .left-side .about-name {
  font-family: 'Rampart One', cursive;
  font-size: 40px;
  letter-spacing: 2px; }
  .about .container .row .c .left-side .about-name span {
    color: #0d6efd; }
.about .container .row .c .left-side .about-description {
  font-weight: bolder;
  font-size: 15px; }
.about .container .row .c .left-side .about-text {
  font-size: 17px;
  letter-spacing: 1px; }