.active {
  padding: 5px;
  background-color: #0d6efd; }

.footer .container .row .c .s .title h5 {
  font-weight: bold; }
.footer .container .row .c .first-side .first-sub-side .brand-name {
  font-family: 'Rampart One', cursive;
  font-size: 20px;
  letter-spacing: 2px; }
  .footer .container .row .c .first-side .first-sub-side .brand-name span {
    color: #0d6efd; }
.footer .container .row .c .first-side .second-sub-side p a {
  color: #0d6efd;
  font-weight: bolder;
  text-decoration: none; }
.footer .container .row .c .s .links a {
  text-decoration: none; }
.footer .container .row .c .s p .owner, .footer .container .row .c .s p .year, .footer .container .row .c .s p .fab {
  font-weight: bolder;
  color: #0d6efd; }