.active {
  padding: 5px;
  background-color: #0d6efd; }

.faq .container .title h2 {
  font-weight: bolder;
  color: #0d6efd; }
.faq .container .accordion .accordion-item .accordion-button {
  font-weight: bolder;
  color: black;
  background-color: white; }