.active {
  padding: 5px;
  background-color: #05a081; }

.contact .title h2 {
  font-weight: bolder;
  color: #0d6efd; }
.contact .row .c {
  font-weight: bolder;
  font-size: 15px; }
  .contact .row .c .left-side div p {
    border-left: 3px solid #0d6efd; }
    .contact .row .c .left-side div p i {
      color: #0d6efd; }